@font-face {
      font-family: ArchiveFont;
      src: url(fonts/Archive-Regular.otf);
}

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}


body {
      display: grid;
      place-items: center;
      width: 100dvw;
      height: 100dvh;
      overflow: hidden;
      user-select: none;
      -webkit-user-select: none;
      cursor: default;
      background-color: black;
      
}

body.fullscreen .fullscreen-text,
body.fullscreen .fullscreen-icon,
body .no-fullscreen-text,
body .no-fullscreen-icon {
      display: none;
}

body.fullscreen .no-fullscreen-text,
body.fullscreen .no-fullscreen-icon {
      display: block;
}

body.muted .audio-on-text,
body.muted .audio-on-icon,
body .audio-off-text,
body .audio-off-icon {
      display: none;
}

body.muted .audio-off-text,
body.muted .audio-off-icon {
      display: block;
}



.background-black {
      position: fixed;
      inset: -500px;
      bottom: 96dvh;
      background-color: black;
      transform: translateZ(-40dvmax);
}

.background-color {
      position: fixed;
      inset: -500px;
      top: 4dvh;
      background-color: seashell;
      transform: translateZ(-40dvmax);
}

.cards-wrapper {
      display: grid;
      place-items: center;
}

.cards-8 {
      width: 152dvmin;
      height: 76dvmin;

      grid-template-columns: repeat(4, 1fr);

      & .card {
            width: 30dvmin;
            height: 30dvmin;
      }

      & h2 {

            font-size: 18dvmin;
      }
}


.cards-8 {
      width: 85.71dvmin;
      height: 171.43dvmin;

      grid-template-columns: repeat(2, 1fr);

      & .card {
            width: 34.29dvmin;
            height: 34.29dvmin;
      }

      & h2 {
            font-size: 20dvmin;
      }
}

@media (min-aspect-ratio: 0.522) {
      .cards-8 {
            width: 44.78dvmax;
            height: 89.55dvmax;

            grid-template-columns: repeat(2, 1fr);

            & .card {
                  width: 17.91dvmax;
                  height: 17.91dvmax;
            }

            & h2 {
                  font-size: 10.45ddvmax;
            }
      }
}

@media (min-aspect-ratio: 1) {
      .cards-8 {
            width: 92.31dvmax;
            height: 46.15dvmax;

            grid-template-columns: repeat(4, 1fr);

            & .card {
                  width: 18.46dvmax;
                  height: 18.46dvmax;
            }

            & h2 {
                  font-size: 10.77dvmax;
            }
      }
}

@media (min-aspect-ratio: 1.757) {

      .cards-8 {
            width: 162.16dvmin;
            height: 81.08dvmin;

            grid-template-columns: repeat(4, 1fr);

            & .card {
                  width: 32.43dvmin;
                  height: 32.43dvmin;
            }

            & h2 {
                  font-size: 18.92dvmin;
            }
      }
}




.cards-12 {
      width: 90dvmin;
      height: 120dvmin;

      grid-template-columns: repeat(3, 1fr);

      & .card {
            width: 24dvmin;
            height: 24dvmin;
      }

      & h2 {
            font-size: 14dvmin;
      }
}

@media (min-aspect-ratio: 0.746) {
      .cards-12 {
            width: 67.16dvmax;
            height: 89.55dvmax;

            grid-template-columns: repeat(3, 1fr);

            & .card {
                  width: 17.91dvmax;
                  height: 17.91dvmax;
            }

            & h2 {
                  font-size: 10.45dvmax;
            }
      }
}

@media (min-aspect-ratio: 1) {
      .cards-12 {
            width: 92.31dvmax;
            height: 69.23dvmax;

            grid-template-columns: repeat(4, 1fr);

            & .card {
                  width: 18.46dvmax;
                  height: 18.46dvmax;
            }

            & h2 {
                  font-size: 10.77dvmax;
            }
      }
}

@media (min-aspect-ratio: 1.250) {
      .cards-12 {
            width: 115.38dvmin;
            height: 86.54dvmin;

            grid-template-columns: repeat(4, 1fr);

            & .card {
                  width: 23.08dvmin;
                  height: 23.08dvmin;
            }

            & h2 {
                  font-size: 13.46dvmin;
            }
      }
}


.cards-16 {
      width: 92.31dvmin;
      height: 92.31dvmin;

      grid-template-columns: repeat(4, 1fr);

      & .card {
            width: 18.46dvmin;
            height: 18.46dvmin;
      }

      & h2 {
            font-size: 10.77dvmin;
      }
}

@media (min-aspect-ratio: 0.97) {
      .cards-16 {
            width: 89.55dvmin;
            height: 89.55dvmin;

            grid-template-columns: repeat(4, 1fr);

            & .card {
                  width: 17.91dvmin;
                  height: 17.91dvmin;
            }

            & h2 {
                  font-size: 10.45dvmin;
            }
      }
}


.cards-20 {
      width: 92.31dvmin;
      height: 115.38dvmin;

      grid-template-columns: repeat(4, 1fr);

      & .card {
            width: 18.46dvmin;
            height: 18.46dvmin;
      }

      & h2 {
            font-size: 10.77dvmin;
      }
}

@media (min-aspect-ratio: 0.793) {
      .cards-20 {
            width: 73.17dvmax;
            height: 91.46dvmax;

            grid-template-columns: repeat(4, 1fr);

            & .card {
                  width: 14.63dvmax;
                  height: 14.63dvmax;
            }

            & h2 {
                  font-size: 8.54dvmax;
            }
      }
}

@media (min-aspect-ratio: 1) {
      .cards-20 {
            width: 93.75dvmax;
            height: 75dvmax;

            grid-template-columns: repeat(5, 1fr);

            & .card {
                  width: 15dvmax;
                  height: 15dvmax;
            }

            & h2 {
                  font-size: 8.75dvmax;
            }
      }
}

@media (min-aspect-ratio: 1.194) {

      .cards-20 {
            width: 111.94dvmin;
            height: 89.55dvmin;

            grid-template-columns: repeat(5, 1fr);

            & .card {
                  width: 17.91dvmin;
                  height: 17.91dvmin;
            }

            & h2 {
                  font-size: 10.45dvmin;
            }
      }
}


.cards-24 {
      width: 92.31dvmin;
      height: 138.46dvmin;

      grid-template-columns: repeat(4, 1fr);

      & .card {
            width: 18.46dvmin;
            height: 18.46dvmin;
      }

      & h2 {
            font-size: 10.77dvmin;
      }
}

@media (min-aspect-ratio: 0.670) {
      .cards-24 {
            width: 61.86dvmax;
            height: 92.78dvmax;

            grid-template-columns: repeat(4, 1fr);

            & .card {
                  width: 12.37dvmax;
                  height: 12.37dvmax;
            }

            & h2 {
                  font-size: 7.22dvmax;
            }
      }
}

@media (min-aspect-ratio: 1) {
      .cards-24 {
            width: 94.74dvmax;
            height: 63.16dvmax;

            grid-template-columns: repeat(6, 1fr);

            & .card {
                  width: 12.63dvmax;
                  height: 12.63dvmax;
            }

            & h2 {
                  font-size: 7.37dvmax;
            }
      }
}

@media (min-aspect-ratio: 1.418) {

      .cards-24 {
            width: 134.33dvmin;
            height: 89.55dvmin;

            grid-template-columns: repeat(6, 1fr);

            & .card {
                  width: 17.91dvmin;
                  height: 17.91dvmin;
            }

            & h2 {
                  font-size: 10.45dvmin;
            }
      }
}



.cards-28 {
      width: 92.31dvmin;
      height: 161.54dvmin;

      grid-template-columns: repeat(4, 1fr);

      & .card {
            width: 18.46dvmin;
            height: 18.46dvmin;
      }

      & h2 {
            font-size: 10.77dvmin;
      }
}

@media (min-aspect-ratio: 0.580) {
      .cards-28 {
            width: 53.57dvmax;
            height: 93.75dvmax;

            grid-template-columns: repeat(4, 1fr);

            & .card {
                  width: 10.71dvmax;
                  height: 10.71dvmax;
            }

            & h2 {
                  font-size: 6.25dvmax;
            }
      }
}

@media (min-aspect-ratio: 1) {
      .cards-28 {
            width: 95.45dvmax;
            height: 54.55dvmax;

            grid-template-columns: repeat(7, 1fr);

            & .card {
                  width: 10.91dvmax;
                  height: 10.91dvmax;
            }

            & h2 {
                  font-size: 6.36dvmax;
            }
      }
}

@media (min-aspect-ratio: 1.642) {

      .cards-28 {
            width: 156.72dvmin;
            height: 89.55dvmin;

            grid-template-columns: repeat(7, 1fr);

            & .card {
                  width: 17.91dvmin;
                  height: 17.91dvmin;
            }

            & h2 {
                  font-size: 10.45dvmin;
            }
      }
}



.card {
      perspective: 1000px;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      position: relative;
      transform-style: preserve-3d;
}

.card-shadow {
      width: 100%;
      height: 100%;
      border-radius: 15%;
      /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
      box-shadow: 0dvmin 1.5dvmin 3dvmin rgba(0, 0, 0, 0.19), 0dvmin 0.9dvmin 0.9dvmin rgba(0, 0, 0, 0.23);
      position: absolute;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.hasHover .cards-wrapper.selectable .card.selectable:hover .card-shadow,
.card.red .card-shadow,
.cards-wrapper.starting .card-shadow,
.card.selectable.flip .card-shadow {
      /* box-shadow: rgba(0, 0, 0, 0.01) 0px 20px 10px, rgba(0, 0, 0, 0.1) 0px 12px 15px; */
      /* box-shadow: 0dvmin 2dvmin 1.5dvmin rgba(0, 0, 0, 0.01), 0dvmin 1.2dvmin 2.25dvmin rgba(0, 0, 0, 0.1); */
      box-shadow: 0dvmin 1.5dvmin 1.5dvmin -0.3dvmin rgba(0, 0, 0, 0.01), 0dvmin 0.9dvmin 2dvmin -0.3dvmin rgba(0, 0, 0, 0.1);
}


.card-wrapper {
      height: 100%;
      width: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.card.flip .card-wrapper {
      transform: rotateY(180deg);
}

.card.red .card-back {
      background-color: rgb(215, 50, 50);
}

.hasHover .cards-wrapper.selectable .card.selectable:hover,
.card.red,
.cards-wrapper.starting .card,
.card.selectable.flip {
      scale: 110%;
}




.cards-wrapper.selectable .card.selectable {
      cursor: pointer;
}

.card,
.cards-wrapper.selectable .card.selectable.flip,
.hasHover .cards-wrapper.starting .card:hover {
      cursor: default;
}

.card-front,
.card-back {
      width: 100%;
      height: 100%;
      border-radius: 15%;
      position: absolute;
      backface-visibility: hidden;
      background-color: slategray;
}


.card.highlighted .card-front {
      background-color: #90a0b0;
      transition: 0;
}


.card-back {
      transform: rotateY(180deg);
      background-color: gainsboro;
}


.card-square {
      display: grid;
      place-items: center;
      height: 100%;
      width: 100%;
}

.card img {
      width: 60%;
      filter: opacity(30%);
      pointer-events: none;
}

/*  TOPBAR  */

#Topbar {
      display: grid;
      place-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      width: 120%;
      height: 4dvh;
      position: absolute;
      top: 0;
      left: -10%;
      background-color: black;

      & p {
            font-size: 2.25dvh;
      }
}

@media (max-height: 500px) {
      #Topbar {

            height: 20px;

            & p {
                  font-size: 11.25px;
            }
      }
}

.topbar-element {
      display: grid;
      place-items: center;
      padding: 3px;
      color: whitesmoke;
      transition: 0.2s;

      & div {
            display: flex;
            align-items: center;
            justify-items: center;
      }

}

.locked .topbar-element {
      opacity: 40%;
}

.hasHover .topbar-element.pause:hover {
      scale: 110%;
      cursor: pointer;
}

.hasHover .locked .topbar-element.pause:hover {
      scale: 100%;
      cursor: default;
}

/*  TITLE  */

.title-wrapper {
      display: grid;
      grid-template-rows: 3fr 2fr 4fr 1fr;
      place-items: center;
      background-color: gray;
      box-shadow: 0 2dvh 4dvh 2dvh rgba(0, 0, 0, 0.4);
      position: absolute;
      transform: translateZ(200dvmin);
      inset: 0;
      bottom: -1dvh;
      transition: 4s cubic-bezier(0.23, 1, 0.320, 1);
      
      .title-emojis {
            font-size: 10cqw;
      }
      
      .title-text {
            font-size: 5cqw;
      }
      
      .title-description {
            font-size: 2cqw;
            text-align: center;
      }
}

.title-emojis,
.title-text,
.title-description {
      container-type: inline-size;
      display: grid;
      place-items: center;

      /* background-color: #0080ff5d;
      border: 2px solid black; */
      
      width: 80%;
      height: 80%;
}

.title-wrapper.hidden {
      transform: translateY(110dvh) translateZ(200dvmin);
}



/*  MAIN MENU  */

.menu-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: gainsboro;
      box-shadow: 0dvmin 1.5dvmin 3dvmin rgba(0, 0, 0, 0.19), 0dvmin 0.9dvmin 0.9dvmin rgba(0, 0, 0, 0.23);
      position: absolute;
      transform: translateZ(150dvmin);
      inset: 4dvh 0 0 0;
      transition: 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.menu-wrapper.hidden {
      transform: translateY(100dvh) translateZ(150dvmin);
      transition: 2s;
}

.menu-title {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.menu-title-text h1 {
      font-size: 10dvw;
      margin-top: 4dvw;
}

.menu-options-cards-wrapper,
.menu-options-theme-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid rgb(179, 179, 179);
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
}

.menu-options-wrapper h2 {
      font-size: 4dvw;
}

.menu-options-wrapper {
      display: grid;
      place-items: center;
}

.menu-options-cards {
      display: flex;
}

.menu-options-theme {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      place-items: center;
}



.option-cards,
.option-theme {
      display: grid;
      place-items: center;
      width: 12dvw;
      height: 7.5dvw;
      margin: 1.5dvw;
      border-radius: 1.5dvw;
      background-color: whitesmoke;
      cursor: pointer;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      font-size: 3dvw;
}

.option-theme {
      grid-template-columns: 1fr 1fr 1fr;
      font-size: 1.5dvw;

      & p.main {
            display: none;
      }
}

.option-cards.selected,
.option-theme.selected {
      border: 0.6dvmin solid sandybrown;
}

.menu-wrapper .start,
.play {
      display: grid;
      place-items: center;
      width: 30dvw;
      height: 10dvw;
      border-radius: 1.5dvw;
      margin: 2dvw;
      background-color: sandybrown;
      font-size: 3dvw;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      cursor: pointer;
}

.hasHover .menu-wrapper .start:hover, .hasHover .play:hover {
      scale: 120%;
}

.hasHover .menu-wrapper .start:active, .hasHover .play:active {
      scale: 100%;
}

.menu-wrapper .start:active {
      scale: 80%;
}


@media (min-aspect-ratio: 1) {

      .menu-title-text h1 {
            font-size: 10dvh;
            margin-top: 4dvh;
      }

      .menu-options-wrapper h2 {
            font-size: 4dvh;
      }

      .option-cards,
      .option-theme {
            width: 13.2dvh;
            height: 8.8dvh;
            margin: 1dvh;
            border-radius: 1.5dvh;

            font-size: 3dvh;
      }

      .option-theme {
            font-size: 2.8dvh;
      }

      .menu-wrapper .start {
            display: grid;
            place-items: center;
            width: 30dvh;
            height: 10dvh;
            border-radius: 1.5dvh;
            margin: 2dvh;
            font-size: 3dvh;

      }
}


@media (max-aspect-ratio: 0.6) {

      @media (max-width: 1000px) {
            
            .menu-options-cards,
            .menu-options-theme {
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  place-items: center;
            }



            .option-cards,
            .option-theme {
                  width: 16dvw;
                  height: 10dvw;
            }

            .option-cards {
                  font-size: 5dvw;
            }

            .option-theme {
                  font-size: 6.5dvw;
                  grid-template-columns: 1fr;

                  & p {
                        display: none;
                  }

                  & p.main {
                        display: block;
                  }
            }

            .menu-wrapper .start {
                  width: 36dvw;
                  height: 12dvw;
                  border-radius: 1.8dvh;
                  margin: 2dvh;
                  font-size: 3.6dvh;

            }
      }
}












/*  WIN BANNER  -  PAUSE MENU  */

.pause-menu-wrapper,
.win-menu-wrapper {
      position: absolute;
      display: grid;
      place-items: center;
      inset: 4dvh;
      transform: translateZ(100dvmin);
      transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pause-menu-wrapper.hidden,
.win-menu-wrapper.hidden {
      transform: translateY(-100dvh) translateZ(100dvmin);
      transition: 0s;

}

.pause-menu,
.win-menu {

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 40vw;
      height: 65dvh;
      border-radius: 2dvmax;
      background-color: whitesmoke;
      /* box-shadow: rgba(0, 0, 0, 0.01) 0px 20px 10px, rgba(0, 0, 0, 0.1) 0px 12px 15px; */
      box-shadow: 0dvmin 1.5dvmin 3dvmin rgba(0, 0, 0, 0.19), 0dvmin 0.9dvmin 0.9dvmin rgba(0, 0, 0, 0.23);
      transform: translateZ(100dvmin);


      & .greeting-emojis {
            font-size: 5dvmax;
      }

      & h2 {
            margin-top: -2dvmax;
            font-size: 4dvmax;
            cursor: default;
      }
      
      & p {
            font-size: 2dvmax;
      }
}


.menu-buttons {
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      height: 8dvh;
}

.menu-buttons .button {
      display: grid;
      place-items: center left;
      height: 100%;
      width: 100%;
      border-radius: 0.7dvmax;
      background-color: sandybrown;
      text-align: center;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      cursor: pointer;
      
      & div {
            display: flex;
            align-items: center;
            justify-items: center;
      }
}

.hasHover .button:hover {
      scale: 110%;
}

.hasHover .button:active {
      scale: 100%;
}

.button:active {
      scale: 80%;
}

.menu-buttons .button .icon-wrapper {
      display: grid;
      place-items: center;
      height: 5vh;
      width: 5vh;
      margin: auto 15px auto 5vw;
      
      & img {
            height: 100%;
            width: 100%;
      }
}





h1,
h2,
p {
      font-family: 'ArchiveFont', sans-serif;
      font-variant: small-caps;
}